defusedxml~=0.7.1
ipython~=8.27.0
numpy~=1.26.4
pillow~=10.4.0
zlib~=1.2.13
jupyter~=1.0.0
pip~=23.3.1
attrs~=23.1.0
distro~=1.8.0
wheel~=0.41.2
pysocks~=1.7.1
protobuf~=5.29.4
openssl~=3.0.16
cryptography~=42.0.5
tornado~=6.4.1
jinja2~=3.1.4
filelock~=3.16.1
pytest~=8.3.4
charset-normalizer~=2.0.4
setuptools~=68.2.2
pytz~=2024.1
overrides~=7.4.0
cffi~=1.16.0
mypy~=1.13.0
requests~=2.31.0
torch~=2.5.1
websocket-client~=1.8.0
matplotlib~=3.9.2
autodistill~=0.1.29
ollama~=0.4.8